<<<<<<< HEAD
/* impostazioni sfondo */

=======
>>>>>>> master
body{
  background-image: url('../img/legno.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 30px 100px 40px 50px;
}

<<<<<<< HEAD

/* header, searchbar e notifiche */

=======
>>>>>>> master
header{
  border-bottom: solid 2px white;
}

<<<<<<< HEAD
#logo{
  vertical-align: middle;
  width: 150px;
=======
/* logo Gmail */
#logo{
  vertical-align: middle;
  width: 150px;
  height: 130px;
>>>>>>> master
}

#titolo{
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.search{
  margin-top: 15px;
}

.notifica{
  border-bottom: solid 2px white;
}

.input{
  cursor: pointer;
<<<<<<< HEAD
  margin-left: 5px;
}

.newmail{
  display: block;
  margin-bottom: 15px;
  margin-left: 20px;
  border: 2px solid #e01f25;
  border-radius: 30%;
  width: 90px;
  height: 35px;
  font-size: 15px;
  background-color: #ededed;
  color:#e01f25;
=======
>>>>>>> master
}

h2{
  color: white;
}

<<<<<<< HEAD

 /* cerchio intorno a 30 */

=======
 /* cerchio intorno a 30 */
>>>>>>> master
#circle{
  height: 45px;
  width: 45px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 45px;
}

<<<<<<< HEAD

/* mail */

.container{
  padding-bottom: 20px;
  border-bottom: solid 2px white;
  margin-top: 15px;
}

.mail{
  background-color: #b2b2b2;
=======
/* mail */
.first{
  margin-top: 15px;
  background-color: #ededed !important;
}

.checkbox{
  background-color: #a2a2a2;
>>>>>>> master
  padding-top: 5px;
  padding-bottom: 4px;
  border: 1px solid black;
}

<<<<<<< HEAD
.read{
  background-color: #ededed;
}

=======
>>>>>>> master
form > div > span > span{
  color: #4f4f4f;
}

<<<<<<< HEAD

/* fondo pagina */

=======
.mail{
  padding-bottom: 20px;
  border-bottom: solid 2px white;
}

/* fondo pagina */
>>>>>>> master
footer{
  text-align: center;
  color: white;
}

.fondo{
  font-size: 23px;
}

.autore{
  font-size: 15px;
}
